@charset "UTF-8";

/*signUp*/
#signUpWrap{
	height: 600px;
	font-family: 'Gugi', cursive;
}
.signUpHr{
	width:150px;
}
.bananaTitle{
	color:#f7eb09;
	font-family: 'Bungee', cursive;
}
#possibleId{
	text-align:center;
	color:blue;
}
#impossibleId{
	text-align:center;
	color:red;
}
#joinBtn{
	background-color:#f7eb09;
}

/*signIp*/

#signInWrap{
	font-family: 'Gugi', cursive;
}


.bananaLogoSignIn{
	font-size: 25px;
	color:#f7eb09;
	font-family: 'Bungee', cursive;
}
.login{
	width:400px;
	height:550px;
}
#loginBtn{
	background-color:#f7eb09;
}
.signInLink{
	color:black;	
}
.banana{
	color:#f7eb09;
}
.findId{
	color:black;
}

/*findLoginInfo*/

.fidWrap{
	font-family: 'Gugi', cursive;
}

.findLogin{
}